/* h1 {
color: yellow;
}; */

/* h2 {
color: yellow;
}; */

li {
  padding: 5px;
  margin: 5px;
  background: #c9b506;
  color: white;
}
.change-devour {
  background-color: rgb(235, 235, 226);
}

body {
  
  background-image: url("../images/burgerwallpaper.jpg");
  background-color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
 }

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
